<a href="{{ documentation }}" target="_blank" class="btn btn-outline-secondary pb-0 float-right">
    <h6 class="text-white font-weight-light"><i class="fa-solid fa-book fa-xl"></i>&nbsp;{{ 'text.read.documentation'|trans }}</h6>
</a>
